body{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description{
  font-size: 18px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.description p:hover{
  background-color: rgb(165, 213, 165);
}

iframe {
  margin: 20px;
}

.advantages td{
  margin: 20px;
  padding: 10px;
}
img{
  box-shadow: 4px 6px rgba(7, 92, 125, 0.3);
}